<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/P1-Portfolio" target="_blank">Portfolio Website</a></strong>
			- This is my  full responsive personal website. I built it from scratch. As I took some design course such as <strong>Sketch3</strong>, I mockup this website as my hobby.
                I convert the whole mockup to HTML and CSS. Basically, I used <strong>HTML5, CSS3, Bootstrap</strong> plus <strong>PHP and Twitter API</strong>.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/P5-San-Francisco-Night-Life" target="_blank">San Francisco Night Life</a></strong>
			- This is a single page application(SAP) using Google Map API to show my favorites place in the San Francisco, Bay Area area. This project built with <strong>Google Map API</strong>,<strong> Knockoutjs</strong>, <strong>Foursquare API</strong>, <strong>Javascript</strong>, <strong>AJXA</strong>, <strong>jQuery</strong>.
		</h5>
    	     <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/P3-Arcade-Game" target="_blank">Arcade Game</a></strong>
			- This is a game project, designed by Udacity Frontend Nanodegree. This game is designed to practice on Practice on <strong>JavaScript Object Oriented</strong> and <strong>HTML5 Canves</strong>.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/PHPForum" target="_blank">Object Oriented PHP Forum System</a></strong>
			- This is simple Chat System built with <strong>HTML</strong>, <strong>CSS</strong>, <strong>PHP</strong>and <strong>MySQLi</strong>.
		</h5>
          <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/Practice/tree/master/PHP/PChat" target="_blank">Group Chat System</a></strong>
			- This is fully Object Oriented PHP Forum Application. &nbsp; <strong>Bootstrap</strong>, <strong>PHP</strong> and <strong>MySQL (PDO)</strong>.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/Practice/tree/master/PHP/PHP_Blog" target="_blank">Blog System</a></strong>
			- This is a lightweight blog system built with <strong>PHP, MySQL (Mysqli)</strong> and <strong>Bootstrap</strong>. The blog posts stored in a database.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/Practice/tree/master/PHP/PHP_Quize_Maker" target="_blank">Quiz Maker System</a></strong>
			-This is a lightweight quiz maker system built with <strong>HTML</strong>, <strong>CSS</strong>, <strong>PHP</strong> and <strong> MySQL</strong>.
		</h5>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/Practice/tree/master/React%20%26%20Flux/GithubDevelopers" target="_blank">Github Developer Profile</a></strong>
			- This is simple app for fetching and review each developer's profile and repositories from Github.com. This app built with <strong>ReactJS </strong>,<strong>Webpack</strong>.
		</h5>
          <h5>
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/Practice/tree/master/iOS_Swift/Coco%20Browser" target="_blank">iOS Browser Emulator and Search Engine</a></strong>
			- This is simple iOS internet browser emulator. This app built with <strong>iOS9</strong>, <strong>Swift</strong> and use Google search engine as default.
		</h5>
          <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/P6-Feed-Reader-App" target="_blank">Test Driven Feed Reader App</a></strong>
			- This is a <strong>Behavior-Driven JavaScript</strong> project using <strong>Javascript</strong> and <strong>Jasmine</strong> library.
		</h5>
          <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/P2-Interactive-Resume" target="_blank">Interactive Resume</a></strong>
			- This is a inteactive resume builder web application that built with <strong>HTML</strong>, <strong>CSS</strong>, <strong>JS OOP</strong> and <strong>jQuery</strong>
		</h5>
          <h5>
			<i class="fa fa-wordpress"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JeffShomali/WP_Contact" target="_blank">Wordpress AJAX Contact Form</a></strong>
			- This is simple AJAX contact form plugin built in wordpress codex.  &nbsp;<strong>jQuery</strong>, <strong>AJAX</strong> and <strong>Wordpress</strong>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://tutyo.com" target="_blank">Tutyo</a></strong>
			- It's a MVP website for startup. It's more than 100,000 lines of code. We used most recent technologies, susch as:
			<ul>
				<li>PHP 7, Laravel 5.4, MySQL 5.*</li>
				<li>Bootstrap 3, Semantic UI 2, Font Awsome, CSS Transition and Effects</li>
				<li>Javascript, jQuery, Vuejs, Elixir</li>
				<li>Social networks APIs (Facebook, Google, Yahoo, Twitter)</li>
				<li>Blade, Laravel Dusk, Laravel Passport, Laravel Socialite</li>
				<li>Google Analytics, Optimizingly, Mixpanel</li>
			</ul>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.purrivacy.org" target="_blank">Purrivacy</a></strong>
			- Web application built with <strong>Ruby on Rails</strong> and <strong>MongoDB</strong> Purrivacy aims to educate nontechnical audiences about online privacy.
		</h5>
          <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.mazco.us/" target="_blank">Mazco</a></strong>
			- It's E-commerce website called Mazco which is distrubuting their product to more than 230 stores in 43 states. The website built in <strong>Magento 2</strong>, <strong>PHP, MySQL</strong>, <strong>Bootstrap</strong>, <strong>jQuery</strong> and <strong>Paypal </strong> integeration.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.duffyshop.com/" target="_blank">Duffyshop</a></strong>
			- Using online shopping generator tools to build a ecommerce website for customer.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://hookahus.com/" target="_blank">HookahUS</a></strong>
			- Affiliate E-Commerce website for selling Hookah in the United States. Integrated with <strong> Amazon API</strong> for fetching products and inserting into the our database automatically. The cool think about this project is we can insert more than 200 Amazon's items with all product information and rating into our database less than a minute. So we can save a lot of time and money for item insertion.
			 Built in  <strong>Wordpress</strong>,<strong>Woocommerce</strong>,<strong>Amazon API</strong>,<strong>PHP</strong><strong>MySQL</strong> <strong>Google console (Google Analytics,  Tag manager, Indexing, Localization Serch)</strong> and  hosted on <strong> Digital Ocean</strong>. 
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://ihavenothingtohi.de" target="_blank">IHAVENOTHINGTOHI</a></strong>
			- Written in jQuery and Ruby on Rails, a web-app that explains why privacy matters even when you have “nothing to hide”,  &nbsp;<strong>jQuery</strong> and <strong>Ruby on Rails</strong>
		</h5>
    </div>
  </div>
</div>
</section>
